/***Navbar***/

.main-nav {
  max-width: 1260px;
  margin: 0 auto;
  .navbar-toggle {
  	display: block;

  }
}


.navbar-default .navbar-nav > li > a {
  color: black;
}

.main-nav .btn.btn-default {
	width: 70px;
}

.red .btn.btn-default a {
	margin-left: -25px;
}

.blue .btn.btn-default a {
	margin-left: -15px;
}

.navbar-brand > img {
    display: block;
    max-width: 100px;
    height: auto;
}

.navbar-default .navbar-toggle {
  border-color: none;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 0px;
}

.red .btn.btn-default {
	margin-top: 8px;
	margin-right: 8px;
	background-color: #d81159;
	border-color: #d81159;

	a {
		color: white;
	}
}

.blue .btn.btn-default {
	margin-top: 8px;
	margin-right: 8px;
	background-color: #03d4da;
	border-color: #03d4da;

	a {
		color: white;
	}
}

.subheader {
	background-color: #03d4da;
}


/***Section One***/

.container-fluid.header {
	margin-top: 75px; 
}

.logo_hero > img {
	max-width: 300px;
	height: auto;
}

.middle_title {
	h3 {
		text-align: center;
    font-size: 28px;
    margin-top: 40px;
	}
}

.call_to_action {
	padding-top: 20px;
	text-align: center;
	list-style-type: none;

	.left_button {
		margin-right: 20px;
	}
}

.section_one {
	  position: relative;
    height: calc(100vh - 50px);
    max-height: none;
    background: url(/assets/family_on_couch_1600x555.jpg) no-repeat;
    background-size: 100%;
    background-position: left bottom;
    padding-bottom: 0;
}

.btn {
	&-default {
	    padding: 7px 35px;
	    font-size: 14px;
	    width: 170px;
	    &__red { 
	    	color: #d81159;
	    	border-color: #d81159;
	    	background-color: transparent;
	    }
	    &__green {
	    	color: #03d4da;
	    	border-color: #03d4da;
	    	background-color: transparent;
	    }
	}
}



.call_to_action .btn-lg {
	padding: 10px 35px;
}

/***Section Two***/

.section_two {
	padding-top: 50px;
	padding-bottom: 100px;
}

.section_two .middle_title {
	text-align: center;
}

.section_two .row.images {
	padding-top: 50px;
}

.section_two .left_content h2 {
	color: #d81159;
}

.section_two .left_content ul {
	list-style-type: none;
	margin-left: -40px;
}

.section_two .left_content .learn_more .btn.btn-default {
	background-color: transparent;
	border-color: #d81159;
	color: #d81159;
	padding: 10px 35px;
}

.section_two .left_content .number_1 {
	padding-top: 20px;
  padding-bottom: 20px;
}

.section_two .left_content .number_2 {
  padding-bottom: 20px;
}

.section_two .left_content .number_3 {
  padding-bottom: 20px;
}

.row .app_buttons {
	padding-top: 50px;
}

/***Section Three***/

.section_3 {
	position: relative;
	min-height: 450px;
	background: url(/assets/section_three_background.jpg) no-repeat scroll 0px 100% / cover transparent; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section_3 h1 {
	margin-top: 50px;
	margin-bottom: 60px;
	color: white;
	text-align: center;
}

.section_3 .list {
	text-align: center;
}

.section_3 .list ul {
	line-height: 30px;
}

.section_3 .list li {
	list-style-type: none;
	color: white;
}

/***Section Four ***/

.section_4 {
	padding-bottom: 100px;
}

.section_4 .our_mission {
	text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
  	margin-bottom: 39px;
  }
}

.section_4 .our_mission_images p {
  text-align: center;
  padding-top: 29px;
}

img.image-responsive.center-block.heart {
	max-width: 85px;
	height: auto;
}

img.image-responsive.center-block.id_card {
	max-width: 60px;
	height: auto;
}

img.image-responsive.center-block.bell {
	max-width: 90px;
	height: auto;
}

.section_4 .our_mission_images h3 {
	text-align: center;
	color: #d81159;
}

.section_4 .our_mission_images p {
	text-align: center;
}

.section_4 .call_to_action {
	padding-top: 30px;
}

/*** Section Five ***/

.section_5 {
	position: relative;
	min-height: 460px;
	background: url(/assets/section_five_background_1734x1154.jpg) no-repeat scroll 0px 100% / cover transparent; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.community_row {
	padding-top: 80px;
}

.section_5 .community {
	padding-top: 10px;
	text-align: center;
}

.section_5 .community h1 {
	color: white;
	text-align: center;
}

.section_5 .community p {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;
}

.section_5 .promote .btn-lg {
	padding: 10px 35px;
}

.section_5 .promote .btn-default {
	color: white;
	background-color: transparent;
	border-color: white;
}

/*** Section Six ***/

.section_6 {
	background-color: #f8f8f8;
	padding-bottom: 800px;
}

.section_6 .knowledge_center {
	text-align: center;
}

.section_6 .knowledge_center h1 {
	margin-top: 100px;
	margin-bottom: 40px;
}

/*** Section Seven ***/

.section_7 {
	background-color: black;
	padding-top: 55px;
	padding-bottom: 100px
}

.section_7 p,li {
	color: #03d4da;
}

.section_7 .row .col-md-4 h5 {
	color: white;
}

.section_7 .row ul {
	list-style-type: none;
}

.section_7 .search_form h5 {
	color: white;
}

.section_7 .search_form .btn-success {
	background-color: #03d4da;
	border-color: #03d4da;
}

.epicmd_footer_logo > img {
  display: block;
  max-width: 170px;
  height: auto;
}

/*** Footer ***/

.footer {
	background-color: #03d4da;
	padding-top: 25px;
	padding-bottom: 20px;
}

.footer p {
	text-align: center;
	color: white;
}

.footer .two_icons {
  display: inline-flex;
}

.footer .two_icons p {
	padding-right: 20px;
}






